.ItemsList-container {
  margin-top: 10vh;
  height: 72vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ItemsList-itemsContainer {
  overflow: scroll;
  overflow: -moz-scrollbars-none; /* Firefox */
  margin-bottom: 3vh;
}

.ItemsList-itemsContainer::-webkit-scrollbar {
  width: 0 !important; /* Chrome, Opera, Safari */
}

.ItemsList-togleItemsContainer {
  background: transparent;
  color: black;
  border: 2px solid black;
  padding: 7px 14px;
}