.Item-container {
  height: 7vh;
  background: transparent;
  color: black;
  border: 2px solid black;
  padding: 7px 14px;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Item-checkbox {
  color: rgb(0, 150, 0);
}

.Item-delete {
  color: rgb(200, 0, 0);
}

.Item-text {
  width: 70%;
  font-size: 3vh;
}