#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #23364A;
  background: linear-gradient(0deg, rgba(236, 203, 241, 0.20) 0%, rgb(236, 203, 241) 100%);
}

.App-container-landing {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 90vw;
  padding-top: 22vh;
}

.App-container-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  padding-top: 12vh;
}

@media screen and (max-width: 700px){
  .App-container-landing,
  .App-container-main {
    width: 70%;
  }
}

@media screen and (min-width: 700px){
  .App-container-main,
  .App-container-landing {
    width: 490px;
  }
}